.wrapper {
  width: 600px;
  border: 1px solid rgba(174, 174, 174, 0);
  border-radius: 4px;
  margin-bottom: 5px;
  -webkit-box-shadow: 2px 0px 3px 0px rgba(184,184,184,1);
  -moz-box-shadow: 2px 0px 3px 0px rgba(184,184,184,1);
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
  padding: 16px 20px 12px;
  .read-more {
    padding: 8px;
    width: 90%;
    text-align: right;
    a {
      color: rgb(95, 99, 104);
      text-decoration: none;
    }
  }
}