.wrapper {
  width: 600px;
  margin-bottom: 5px;
  .read-more {
    padding: 8px;
    width: 90%;
    text-align: right;
    a {
      color: rgb(95, 99, 104);
      text-decoration: none;
    }
  }
}